// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3B5998;
$brand-info: #8eb4cb;
$brand-success: #6eaf75;
$brand-warning: #e58007;
$brand-danger: #c61832;
$brand-default: #e6e7e7;
$gray: #808080;
$abbey: #515457;
$white: #ffffff;
$black: #000;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";
$font-family-base: if-ltr('Proxima-Nova-Regular', 'Hacen Vanilla Ultra');
$font-family-sans-serif: $font-family-base;
$font-family-serif: $font-family-base;
$font-size-base: 16px;
$line-height-base: 1.3;
$text-color: $abbey;

// Navbar
$navbar-default-bg: #fff;
//$navbar-height: 0;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-success, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$transition-time: 0.3s;
$sidebar-width: 320px;

// Include Mappy Breakpoints
$breakpoints: (
        'xs': 480px,
        'sm': 768px,
        'md': 992px,
        'lg': 1200px);
