@font-face {
  font-family: 'Proxima-Nova-Regular';
  src: url('/assets/fonts/ProximaNova-Regular.eot');
  src: url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hacen Vanilla Ultra';
  src: url('/assets/fonts/HacenVanillaUltraLight/HacenVanillaUltraLight.eot');
  src: url('/assets/fonts/HacenVanillaUltraLight/HacenVanillaUltraLight.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HacenVanillaUltraLight/HacenVanillaUltraLight.woff2') format('woff2'),
  url('/assets/fonts/HacenVanillaUltraLight/HacenVanillaUltraLight.woff') format('woff'),
  url('/assets/fonts/HacenVanillaUltraLight/HacenVanillaUltraLight.ttf') format('truetype'),
  url('/assets/fonts/HacenVanillaUltraLight/HacenVanillaUltraLight.svg#HacenVanillaUltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}