.required-label {
  position: relative;
  padding-right: 10px;
  &:after {
    content: '*';
    color: #d9534f;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    max-height: 100%;
  }
}

input:required {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    &:before {
      content: "*";
      color: #d9534f;
    }
  }
  &::-moz-placeholder { /* Firefox 19+ */
    &:before {
      content: "*";
      color: #d9534f;
    }
  }
  &:-ms-input-placeholder { /* IE 10+ */
    &:before {
      content: "*";
      color: #d9534f;
    }
  }
  &:-moz-placeholder { /* Firefox 18- */
    &:before {
      content: "*";
      color: #d9534f;
    }
  }
}
